<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Body</th>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.id %></td>
        <td><%= comment.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add Comment', new_article_comment_path(@article) %>

<a href="/">Home</a>